@charset "UTF-8";
.boton-1, .reserva, .reservar, .boton-mudanzas, .boton-fletes {
  background-color: #EB0001;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  font-family: "Roboto-Thin";
  cursor: pointer;
  border-radius: 30px;
  height: 60px;
  width: 200px;
}
.boton-1:hover, .reserva:hover, .reservar:hover, .boton-mudanzas:hover, .boton-fletes:hover {
  background-color: #ffffff;
  color: #EB0001;
  font-weight: bold;
}
@media (max-width: 700px) {
  .boton-1, .reserva, .reservar, .boton-mudanzas, .boton-fletes {
    height: 45px;
    width: 180px;
  }
}

@font-face {
  font-family: "Montserrat-Light";
  src: url(../assets/fonts/Montserrat-Light.otf);
}
@font-face {
  font-family: "Releway-ExtraBold";
  src: url(../assets/fonts/Raleway-ExtraBold.ttf);
}
@font-face {
  font-family: "Roboto-Thin";
  src: url(../assets/fonts/Roboto-Thin.ttf);
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(../assets/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(../assets/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Roboto-Light";
  src: url(../assets/fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  background-color: black;
  width: 100%;
  z-index: 20;
  margin-top: -77px;
}
@media (max-width: 700px) {
  header {
    background-color: black;
  }
}

.navbar {
  padding: 2rem;
  position: fixed;
  width: 100%;
}
.navbar .navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.navbar-toggler {
  margin-right: 25px;
}

.nav-item {
  padding: 5px;
  font-size: 20px;
}

.nav-link {
  color: #ffffff !important;
  font-family: "Roboto-Light";
}
.nav-link:hover {
  background-color: #EB0001;
  color: white !important;
  border-radius: 7px;
}

.navbar-brand img {
  width: 200px;
  height: auto;
}

.menu-h {
  margin-left: 200px;
  width: 600px;
}
.menu-h a {
  font-size: 18px;
}
@media (max-width: 700px) {
  .menu-h {
    margin-left: 15px;
  }
}

.estoy-aca {
  font-weight: bold;
  font-family: "Roboto-Medium";
}

.redes {
  display: inline-block;
}
.redes i {
  font-size: 20px;
  color: white;
  padding: 10px;
}
.redes a {
  padding: 8px;
  text-decoration: none;
}
@media (max-width: 700px) {
  .redes ul {
    display: flex;
    padding-top: 2rem;
  }
}

.piedepag {
  background-color: black;
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-areas: "logo menu redes";
  justify-items: center;
  align-items: center;
}
@media (max-width: 700px) {
  .piedepag {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 120px;
  }
}

.logoFooter {
  width: 200px;
  height: auto;
}

img {
  grid-area: logo;
}

.menu-footer {
  grid-area: menu;
  width: 600px;
}
@media (max-width: 700px) {
  .menu-footer {
    display: none;
  }
}
.menu-footer ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.menu-footer li {
  display: block;
}
.menu-footer a {
  display: block;
  padding: 10px;
  margin-top: 20px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Roboto-Light";
}
.menu-footer a:hover {
  background-color: #EB0001;
  border-radius: 7px;
  color: white;
}

.redes-footer {
  grid-area: redes;
  display: inline-block;
  margin-top: 18px;
}
.redes-footer i {
  font-size: 20px;
  color: black;
  padding: 10px;
}
.redes-footer a {
  padding: 10px;
  text-decoration: none;
}
@media (max-width: 700px) {
  .redes-footer .redes-footer {
    display: inline-block;
    justify-content: space-around;
  }
}

#portada-home {
  padding-top: 50px;
  margin-top: 77px;
  background-image: url("../imgfletes/portadahome.jpeg");
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 40px;
  background-size: 100%;
}
@media (max-width: 700px) {
  #portada-home {
    background-image: url("../imgfletes/homequerie.jpg");
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    background-size: auto;
  }
}

#portada-fletes {
  padding-top: 50px;
  margin-top: 77px;
  background-image: url("../imgfletes/portadaflete.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  background-size: 100%;
}
@media (max-width: 700px) {
  #portada-fletes {
    background-image: url("../imgfletes/portadafletemedia.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    background-size: auto;
    margin-bottom: 20px;
  }
}

#portada-mudanzas {
  padding-top: 50px;
  margin-top: 77px;
  margin-bottom: 100px;
  background-image: url("../imgfletes/portadamudanzas.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  background-size: 100%;
}
@media (max-width: 700px) {
  #portada-mudanzas {
    background-image: none;
    background-image: url("../imgfletes/portadamudmedia.jpg");
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 0;
    background-size: auto;
  }
}

#portada-empresa {
  padding-top: 50px;
  margin-top: 77px;
  background-image: url("../imgfletes/portadaempresas.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  margin-bottom: 100px;
  background-size: 100%;
}
@media (max-width: 700px) {
  #portada-empresa {
    width: 100%;
    height: 450px;
    background-size: auto;
  }
}

#portada-contacto {
  padding-top: 50px;
  background-image: url("../imgfletes/portadacontacto.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  background-size: 100%;
}
@media (max-width: 700px) {
  #portada-contacto {
    width: 100%;
    height: 450px;
    background-size: auto;
  }
}

.portada-home {
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30% 20% 50%;
  grid-template-areas: "titulo titulo titulo" "texto texto texto" "boton boton boton";
}
@media (max-width: 700px) {
  .portada-home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
  }
}

.portada-fletes {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "titulo titulo titulo" "texto texto texto";
}

.portada-mudanzas {
  width: 100%;
  height: 400px;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "titulo titulo titulo" "texto texto texto" ". boton .";
}
@media (max-width: 700px) {
  .portada-mudanzas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
  }
}

.portada-empresa {
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "titulo titulo titulo" "texto texto texto" ". boton .";
}
@media (max-width: 700px) {
  .portada-empresa {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

.portada-contacto {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "titulo titulo titulo" "texto texto texto";
}

.titulo {
  grid-area: titulo;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: "Roboto-Medium";
  font-size: 64px !important;
  color: white;
}
@media (max-width: 700px) {
  .titulo {
    font-size: 40px !important;
  }
}

.texto {
  grid-area: texto;
  text-align: center;
  font-family: "Roboto-Light";
  font-size: 18px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.37);
  margin-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
}
@media (max-width: 700px) {
  .texto {
    font-size: 14px;
    margin-top: 17px;
    margin-bottom: 15px;
  }
}

.botones {
  grid-area: boton;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 700px) {
  .botones {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .boton-fletes {
    margin-bottom: 20px;
  }
}
/* Boton flotante de whatsapp */
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float:hover {
  text-decoration: none;
  color: #FFF;
  background-color: #11f364;
  animation: shake 1s;
  animation-iteration-count: infinite;
}

.my-float {
  margin-top: 16px;
}

/* Efectos del boton flotante */
@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
.whatsapp2 {
  margin-left: 1250px;
  position: fixed;
  z-index: 20;
  margin-top: 100px;
}
@media (max-width: 700px) {
  .whatsapp2 {
    margin-left: 280px;
    margin-top: 158px;
  }
}

.botones {
  margin-top: 10px;
}

.boton-mudanzas {
  margin-bottom: 16px;
}

.reservar {
  grid-area: boton;
}

.boton-enviar {
  background-color: white !important;
  color: #EB0001;
  width: 180px;
  border-color: #EB0001 !important;
  border-radius: 50px;
  padding: 8px;
  transition: all 0, 2s ease-in-out;
}
.boton-enviar:hover {
  background-color: #EB0001 !important;
  color: white;
}

.boton-reservar {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: "Roboto-Medium";
  font-size: 50px !important;
  color: black;
  text-align: center;
}
@media (max-width: 700px) {
  h2 {
    font-size: 32px !important;
  }
}

p {
  font-family: "Roboto-Light";
  font-size: 23px;
  text-align: center !important;
  margin-bottom: 0;
}
@media (max-width: 700px) {
  p {
    font-size: 18px;
  }
}

.subt {
  padding: 15px;
  color: #404040;
}
@media (max-width: 700px) {
  .subt {
    padding: 25px;
  }
}

.primerTitulo {
  font-family: "Roboto-Medium";
  font-size: 22px;
  color: #EB0001;
  text-align: center;
}
@media (max-width: 700px) {
  .primerTitulo {
    padding: 0px 10px;
  }
}

.tarjeta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}
@media (max-width: 700px) {
  .tarjeta {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin: 15px;
    margin-bottom: 50px;
  }
  .tarjeta img {
    width: 350px;
    height: auto;
  }
}

.syr {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 50px;
}
.syr img {
  width: 350px;
  height: auto;
  border-radius: 15px;
  margin-top: 50px;
}

.logos-seg {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
@media (max-width: 700px) {
  .logos-seg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
    margin-top: -40px;
  }
  .logos-seg img {
    width: 350px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 15px;
  }
}
@media (max-width: 700px) and (max-width: 700px) {
  .logos-seg img {
    width: 320px;
  }
}

.vehiculos {
  height: 680px;
  padding-top: 15px;
}
@media (max-width: 700px) {
  .vehiculos {
    height: 805px;
  }
}
.vehiculos p {
  margin-bottom: 25px;
}
@media (max-width: 700px) {
  .vehiculos p {
    margin-bottom: -12px;
  }
}

.cajas-vehiculos {
  margin: 0px 124px 50px 124px;
}
@media (max-width: 700px) {
  .cajas-vehiculos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 596px;
  }
}

.vehiculo1 {
  display: flex;
  justify-content: space-around;
  width: 550px;
}
@media (max-width: 700px) {
  .vehiculo1 {
    width: 344px;
  }
}
.vehiculo1 img {
  width: 265px;
  height: 465px;
  border-radius: 15px;
}
@media (max-width: 700px) {
  .vehiculo1 img {
    width: 165px;
    height: 292px;
  }
}

.formulario-contacto {
  width: 100%;
  height: 800px;
  margin-top: 100px;
}
@media (max-width: 700px) {
  .formulario-contacto {
    height: 650px;
  }
}
.formulario-contacto .container {
  max-width: 500px;
}
.formulario-contacto .caja-formulario {
  width: 50%;
  margin-bottom: 100px;
  margin-top: 50px;
  border: 3px solid #EB0001 !important;
  border-color: #EB0001 !important;
  border-radius: 8px;
}

.formulario {
  margin-top: 50px;
  margin-bottom: 50px;
}
.formulario img {
  width: 100%;
  height: auto;
  position: relative;
  display: inline-block;
  text-align: center;
}
@media (max-width: 700px) {
  .formulario img {
    height: 350px;
  }
}
.formulario .formulario-titulos {
  position: absolute;
  margin-top: -273px;
  margin-left: 300px;
}
@media (max-width: 700px) {
  .formulario .formulario-titulos {
    margin-left: 0px;
    margin-top: -300px;
  }
}
.formulario .formulario-titulo1 {
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 30px;
}
@media (max-width: 700px) {
  .formulario .formulario-titulo1 {
    font-size: 28px;
    margin-top: -45px;
  }
}
.formulario .formulario-titulo2 {
  font-size: 24px;
  font-family: "Roboto-Light";
  color: #ffffff;
  margin-top: -20px;
}
@media (max-width: 700px) {
  .formulario .formulario-titulo2 {
    font-size: 18px;
  }
}
.formulario .formulario-info1 {
  width: 300px;
  height: 40px;
  margin-left: 30px;
  margin-top: 5px;
}
@media (max-width: 700px) {
  .formulario .formulario-info1 {
    width: 250px;
    height: 37px;
    margin-left: 56px;
    margin-bottom: 10px;
  }
}
.formulario .formulario-info2 {
  width: 400px;
  height: 40px;
  margin-left: 30px;
  margin-top: 5px;
}
@media (max-width: 700px) {
  .formulario .formulario-info2 {
    width: 250px;
    height: 37px;
    margin-left: 56px;
    margin-bottom: 10px;
  }
}
.formulario .boton-formulario {
  width: 160px;
  height: 50px;
  border-radius: 25px;
  border-color: #0bc151;
  background-color: #0bc151;
  margin-top: 20px;
  margin-left: 265px;
  cursor: pointer;
}
.formulario .boton-formulario:hover {
  background-color: #ffffff;
  color: #0bc151;
  font-weight: bold;
}
@media (max-width: 700px) {
  .formulario .boton-formulario {
    margin-left: 103px;
  }
}

.formulario-quiero {
  width: 100%;
  height: 400px;
  margin-top: 40px;
}

.caja-formulario {
  margin-top: 50px;
  margin-bottom: 50;
  border: 3px solid rgb(163, 10, 4);
  border-radius: 8px;
}
@media (max-width: 700px) {
  .caja-formulario {
    margin-top: 75px;
    margin-bottom: 0;
  }
}

.verificarForm {
  border: solid 2px red;
}

.nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 77px;
}
@media (max-width: 700px) {
  .nosotros {
    display: flex;
    flex-direction: column;
    margin: 77px 20px 10px 10px;
  }
}
.nosotros .cuadroImg {
  background-color: #EB0001;
  width: 457px;
  height: 460px;
}
@media (max-width: 700px) {
  .nosotros .cuadroImg {
    width: 311px;
    height: 322px;
    margin-top: 50px;
  }
}
.nosotros .cuadroImg img {
  padding-left: 12px;
  margin-top: -12px;
}
@media (max-width: 700px) {
  .nosotros .cuadroImg img {
    width: 321px;
    height: 323px;
  }
}

.caja-nosotros {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
@media (max-width: 700px) {
  .caja-nosotros {
    padding: 12px;
    margin-top: 30px;
  }
}
.caja-nosotros .cualidades {
  line-height: 0.5;
}
.caja-nosotros .cualidades p {
  font-family: "Roboto-Medium";
}
.caja-nosotros .todo-el-año {
  text-align: center;
  font-family: "Roboto-Light";
  font-size: 24px;
  font-weight: bold;
}

.servicios {
  width: 100%;
  height: 500px;
  padding-top: 40px;
  margin-top: 50px;
  background-color: black;
  margin-bottom: 50px;
}
.servicios .tituloServicio {
  color: white;
}
.servicios p {
  color: white;
}
@media (max-width: 700px) {
  .servicios {
    width: 100%;
    height: 980px;
  }
}

.servicios-adicionales {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}
@media (max-width: 700px) {
  .servicios-adicionales {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

.cardAdicionales {
  display: flex;
  justify-content: space-around;
  width: 450px;
}
@media (max-width: 700px) {
  .cardAdicionales {
    width: 355px;
  }
}

.cardServicios p {
  color: white;
}

.iconoServicio {
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 5px solid black;
}
.iconoServicio img {
  width: 80px;
  margin: 30px;
}

.incluido {
  background-color: #0bc151;
  border-radius: 15px;
  border: 3px solid #0bc151;
  width: 145px;
  height: 30px;
}
.incluido p {
  font-family: "Roboto-Medium";
  font-size: 18px;
  color: black;
}
@media (max-width: 700px) {
  .incluido {
    margin-bottom: 10px;
  }
}

.solicitar {
  background-color: white;
  border: 3px solid white;
}
.solicitar:hover {
  background-color: #0bc151;
  border: 3px solid #0bc151;
}

.equipamiento {
  width: 100%;
  height: 500px;
}
@media (max-width: 700px) {
  .equipamiento {
    width: 100%;
    height: 900px;
  }
}

.caja-equipamiento {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
@media (max-width: 700px) {
  .caja-equipamiento {
    display: flex;
    flex-direction: column;
  }
}
.caja-equipamiento p {
  font-size: 17px;
}

.barrios {
  background-color: #f2f2f4;
}

.fletesCaba {
  text-align: center;
  margin: 30px;
}

.fletesCabaLista li {
  display: inline-block;
  width: 20%;
}
.fletesCabaLista a {
  text-decoration: none;
  font-size: 18px;
  font-family: "Roboto-Medium";
  color: black;
}
@media (max-width: 700px) {
  .fletesCabaLista .fletesCabaLista {
    width: 70%;
  }
  .fletesCabaLista li {
    display: flex;
    justify-content: center;
    width: 150px;
    margin-left: 50px;
  }
}

.testimonios {
  padding: 40px 40px 80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.testimonios .carousel {
  max-width: 800px;
  text-align: center;
}

.carousel-contro-next-icon {
  color: black;
}

.carousel-item {
  height: 350px;
  background-color: #f2f2f4;
}
@media (max-width: 700px) {
  .carousel-item {
    height: 380px;
  }
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carousel-item .container .rounded-circle {
  width: 60px;
}
.carousel-item .container .cliente {
  font-weight: bold;
  color: black;
}
.carousel-item .container .testimonio-texto {
  color: black;
  font-size: 18px;
  padding: 25px 60px;
}
@media (max-width: 700px) {
  .carousel-item .container .testimonio-texto {
    padding: 6px 32px;
  }
}

.confian {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}
@media (max-width: 700px) {
  .confian {
    padding: 25px;
    margin-bottom: -30px;
  }
}
.confian .confianzaClientes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
@media (max-width: 700px) {
  .confian .confianzaClientes {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}
.confian .confianClientes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 250px;
}
@media (max-width: 700px) {
  .confian .confianClientes {
    display: block;
    text-align: center;
    height: 150px;
    width: 300px;
  }
  .confian .confianClientes img {
    margin: 8px;
    width: 130px;
    height: auto;
  }
}

/*# sourceMappingURL=main.css.map */
