.piedepag{
    background-color: $color-subtitulo;
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: 
    "logo menu redes";
    justify-items: center;
    align-items: center;
    @media(max-width:700px){
          display: flex;
          flex-direction: column-reverse;
          width: 100%;
          height: 120px;
          margin-top: 150px;
      }
}
.logoFooter{
   width: 150px;
   height: auto;
}
 img{
    grid-area: logo;
 }

 .menu-footer{
    grid-area: menu;
    width: 600px;
    @media(max-width:700px){
      display: none;
    }

    ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
     }

    li{
        display: inline-block;
     }
    
     a{
        display: block;
        padding: 10px;
        margin-top: 20px;
        text-decoration: none;
        color:white;
        font-size: 20px;
        font-family: $font-light;
        
        &:hover{
         background-color: $fondo-titulos;
         border-radius: 7px;
         color:black;
      }
     }
    
     
 }
 
 
 .redes-footer{
    grid-area: redes;
    display: inline-block;
    margin-top: 18px;
    
    
    i{
      font-size: 20px;
      color: black;
      padding: 10px;
  }
    a{
        padding: 10px;
        text-decoration: none;
     }
     @media(max-width:700px){
      .redes-footer{
         display: flex;
         // margin-left: -30px;
         justify-content: space-around;
        
       }
     }
 }
 