header{
    position: fixed;
    width: 100%;
    z-index: 20;
}    
.navbar{
    background-color:rgb(194, 193, 193);
    padding: 2rem;
    position: fixed;
    width: 100%;

    .navbar-collapse{
        align-items: center;
        justify-content: space-between;
    }  
}
.navbar-toggler{
    margin-right: 25px;
}
.nav-link:hover{
    background-color: rgb(121, 120, 120);
    color: white !important;
    border-radius: 7px;
}
.menu-h{
    margin-left: 250px;
    @media(max-width:700px){
        margin-left: 0;
    }    
}
// .estoy-aca{
//     font-size: 20px;
//     font-weight: bold;
// }

 .redes{
    grid-area: redes;
    display: inline-block;

        a{
        padding: 10px;
        text-decoration: none;
     }
}
 
