header{
    position: fixed;
    background-color:rgba(48, 47, 47, 0.233);
    width: 100%;
    z-index: 20;
    @media(max-width:700px){
        background-color: $color-subtitulo;
    }
}    
.navbar{
    padding: 2rem;
    position: fixed;
    width: 100%;
    

    .navbar-collapse{
        align-items: center;
        justify-content: space-between;
    }  
}
.navbar-toggler{
    margin-right: 25px;
}
.nav-item{
    padding: 5px;
    font-size: 20px;
}
.nav-link{
    color: white !important;
    font-family: $font-light;
    &:hover{
    background-color: $fondo-titulos;
    color: black !important;
    border-radius: 7px;
    }
}
.navbar-brand img{
    width: 150px;
    height: auto;
}
.menu-h{
    margin-left: 250px;
    width: 600px;
    a{
        font-size: 18px;
    }
    @media(max-width:700px){
        margin-left: 15px;
    }    
}
.estoy-aca{
    font-size: 20spx;
    font-weight:900; 
    // background-color:$color-subtitulo;
    border-radius: 15px;
}

 .redes{
   
    display: inline-block;
        i{
            font-size: 20px;
            color: white;
            padding: 10px;
        }
        a{
        padding: 15px;
        text-decoration: none;
        }
        @media(max-width:700px){
           ul{
            display: flex;
            // padding-left: 7rem;
            padding-top: 2rem;
            // padding-bottom: 1rem;
           } 
        }
}
 
