.tarjeta{
    display: flex;
    justify-content:center;
    align-items:center;
    margin: 100px;
    @media(max-width:700px){
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        margin: 15px;
        margin-bottom: 50px;
        img{
            width: 350px;
            height: auto;
        }
    }
}

    
    
   