.vehiculos{
    height: 600px;
    padding-top: 15px;
    @media(max-width:700px){
        height: 1532px;
    }
    p{
        margin-bottom: -10px;
    }
}
.cajas-vehiculos{
    margin: 0px 125px;
}
.caja1{
    img{
        width: 265px;
        height: 465px;
        border-radius: 15px;
    }
    @include disp-col;
    align-items: center;
    justify-content: space-around;
    @media(max-width:700px){
        margin: 16px;
    }
    
    .caja2{
        @include combinacion-disp;  
     }
       .caja2 p{
            font-size: 18px;
        }
}

@media(max-width:700px){
    .cajas-vehiculos{
        @include disp-col;
        align-items: center;    
    }
}
