.nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    @media(max-width:700px){
        @include disp-col;
    } 
    .cuadroImg{
        background-color: $color-h3;
        width: 457px;
        height: 460px;
        @media(max-width:700px){
            width: 337px;
            height: 342px;
        }
        img{
            padding-left: 12px;
            margin-top: -12px;
            @media(max-width:700px){
                width: 341px;
                height: 343px;
            }
        }
    }  
}
.caja-nosotros{
    @include disp-col;
    padding: 50px;

     .cualidades{
        line-height: 0.5;
        p{
            font-family: $font-medium;
        }
     }
        
    
     .todo-el-año{
        text-align: center;
        font-family: $font-light;
        font-size: 24px;
        font-weight: bold;
        
    }
}
