.nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 10px;
    // margin-bottom: 100px;

    @media(max-width:700px){
        @include disp-col;
    }   
}
.caja-nosotros{
    @include disp-col;
    padding: 50px;

     ul{
        font-family:$font-medium;
        font-size: 20px;
        text-align:left;
        li{
            text-decoration:underline;
        }
        
    }
     .todo-el-año{
        text-align: center;
        font-family: $font-light;
        font-size: 24px;
        font-weight: bold;
        
    }
}
