.vehiculos{
    height: 680px;
    padding-top: 15px;
    @media(max-width:700px){
        height: 805px;
    }
    p{
        margin-bottom: 25px;
        @media(max-width:700px){
            margin-bottom: -12px;
        }
    }
}
.cajas-vehiculos{
    margin: 0px 124px 50px 124px;
    @media(max-width:700px){
        @include disp-col;
        align-items: center; 
        margin: 10px;  
        height: 596px; 
    }
}
.vehiculo1{
    display: flex;
    justify-content: space-around;
    width: 550px;
    @media(max-width:700px){
        width: 344px;
    }
    img{
        width: 265px;
        height: 465px;
        border-radius: 15px;
        @media(max-width:700px){
        width: 165px;
        height: 292px;
        }
    }
    
}


