.nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 77px;
    @media(max-width:700px){
        @include disp-col;
        margin: 77px 20px 10px 10px;
    } 
    .cuadroImg{
        background-color: $color-h3;
        width: 457px;
        height: 460px;
        @media(max-width:700px){
            width: 311px;
            height: 322px;
            margin-top: 50px;
        }
        img{
            padding-left: 12px;
            margin-top: -12px;
            @media(max-width:700px){
                width: 321px;
                height: 323px;
            }
        }
    }  
}
.caja-nosotros{
    @include disp-col;
    padding: 50px;
    @media(max-width:700px){
        padding: 12px;
        margin-top: 30px;
    }

     .cualidades{
        line-height: 0.5;
        p{
            font-family: $font-medium;
        }
     }
        
    
     .todo-el-año{
        text-align: center;
        font-family: $font-light;
        font-size: 24px;
        font-weight: bold;
        
    }
}
