.caja1{
    background-color:  black;
    width: 200px;
    height: 295px;
    color: $color-h1-h2;
    border-radius: 10px;
    @include disp-col;
    align-items: center;
    justify-content: space-around;
    @media(max-width:700px){
        margin: 5px;
        width: 350px;
    }
    
    .caja2{
        @include combinacion-disp;  
     }
       .caja2 p{
            font-size: 18px;
        }
}

@media(max-width:700px){
    .cajas-vehiculos{
        @include disp-col;
        align-items: center;    
    }
}
