h2{
    font-family:$font-medium;
    font-size: 50px !important;
    color: $color-h2 ;
    text-align: center;
    @media(max-width:700px){
        font-size: 32px !important;
    }
}
p{
    font-family:$font-light;
    font-size: 23px;
    text-align: center !important;
    margin-bottom: 0;
    @media(max-width:700px){
        font-size: 18px;
    }
}
    
.subt{
    padding:15px;
    color: $color-subtitulo;
    @media(max-width:700px){
       padding: 25px;
    }
}
    
.primerTitulo{
    font-family: $font-medium;
    font-size: 22px;
    color:$color-h3;
    text-align: center;
    @media(max-width:700px){
        padding: 0px 10px;
    }

   
}