$fondo-titulos:#a30a04;
$color-h1-h2:white;

h2{
    font-family: "montserrat";
    font-size: 50px !important;
    color: $color-h1-h2 !important;
    text-align: center;
    padding: 20px;
    background-color: $fondo-titulos;
    border-radius: 9px;
    @media(max-width:700px){
        font-size: 32px !important;
        border-radius: 0px;
    }
}
p{
    font-family:"montserrat" !important;
    font-size: 25px;
    text-align: center !important;
    margin-bottom: 0;
    @media(max-width:700px){
        font-size: 18px;
    }
}
    
.subt{
    padding:35px;
    color: black;
    @media(max-width:700px){
       padding: 25px;
    }
}
    
