.whatsapp{
    display: flex;
    justify-content: end;
    width: 100%;
    position: fixed;
    z-index: 20;
}
#whatsapp{
   margin-top: -20px;
}
.botones{
    margin-top: 10px
}

.boton-fletes{
    @extend .boton-1;
}
.boton-mudanzas{
    @extend .boton-1;
}
.reservar{
    grid-area: boton;
    @extend .boton-1   
}
.boton-enviar{
    background-color:white !important;
    color: rgb(163, 10, 4) ;
    width: 180px;
    border-color: rgb(163, 10, 4) !important;
    border-radius: 50px;
    padding: 8px;
    transition: all 0,2s ease-in-out;
    &:hover{
        background-color: rgb(163, 10, 4) !important;
        color:white ;  
    }
    
}
// Section nosotros
.reserva{
    @extend .boton-1;
}
.boton-reservar{
   @include display; 
}