.boton-1{
    background-color: $fondo-titulos;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    font-family: $font-thin;
    cursor: pointer;
    border-radius: 30px;
    height: 60px;
    width: 200px;
    &:hover{
        background-color: $color-h1;
        color: $fondo-titulos;
        font-weight: bold;
    }
    @media(max-width:700px){
        height: 45px;
        width: 180px;
    }
}