.boton-1{
    background-color: $fondo-titulos;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    font-family: "montserrat";
    cursor: pointer;
    border-radius: 30px;
    height: 60px;
    width: 200px;
    @media(max-width:700px){
        height: 45px;
        width: 180px;
    }
}