@font-face {
    font-family: "Montserrat-Light";
    src: url(../assets/fonts/Montserrat-Light.otf);
}

@font-face {
    font-family: "Releway-ExtraBold";
    src: url(../assets/fonts/Raleway-ExtraBold.ttf);
}