@mixin display{
    display: flex;
    justify-content:center;
    align-items: center;
}

@mixin disp-col{
    display: flex;
    flex-direction: column;
}
@mixin combinacion-disp{
    @include display;
    @include disp-col;
}