$color-h1-h2:#ffffff;
$color-subtitulo:#404040;
$fondo-titulos:#F53A68;
$color-p-vehiculos:rgb(245, 242, 53);
$font-bold:"Roboto-Bold";
$font-thin:"Roboto-Thin";
$font-medium:"Roboto-Medium";
$font-light:"Roboto-Light";