$color-h1:#ffffff;
$color-subtitulo:#404040;
$fondo-titulos:#991a16;
$color-p-vehiculos:rgb(245, 242, 53);
$font-bold:"Roboto-Bold";
$font-thin:"Roboto-Thin";
$font-medium:"Roboto-Medium";
$font-light:"Roboto-Light";
$color-h3:#991a16;
$color-h2:black;